pkgbase = mcreator-eap
	pkgdesc = Make Minecraft Java Edition mods, Bedrock Edition Add-Ons, and data packs using visual graphical programming or integrated IDE (EAP release)
	pkgver = 2024.2.24713
	pkgrel = 1
	url = https://mcreator.net
	arch = x86_64
	license = GPL-3.0-or-later WITH GPL-3.0-interface-exception
	noextract = mcreator-eap-2024.2.24713.tar.gz
	source = mcreator-eap-2024.2.24713.tar.gz::https://github.com/mcreator/mcreator/releases/download/2024.2.24713/MCreator.EAP.2024.2.24713.Linux.64bit.tar.gz
	source = mcreator.desktop
	b2sums = dfaafd731e09c649d7552c05adc68645c2173b6dbb0e995eef535e2bead9cafe3583d12bddff0dc2592ee01c351122f04c9b93c8395a0a2fee740fbb92a81f3d
	b2sums = c4227c9cb09a4c0db1fd368f4815d890da16b3bf08552d5bf3766f5ad9706444e5ed42cd591422ddd326e295faa6c302d2144f2c6963598df6cca14537d13248

pkgname = mcreator-eap
	depends = bash
	depends = glibc
	depends = hicolor-icon-theme
	depends = java-runtime=21
